* {
  box-sizing: border-box;
  background-color: #26262c;
}
body {
  width: 100vw;
  height: 100vh;
  display: block;
  margin: 0 auto;
  font-family: 'Montserrat';
  position: relative;
  scroll-behavior: smooth;
}
:root {
  --white: #f3f4f9;
  --grey: #8e8e94;
  --grey-dark: #48494e;
  --dark: #26262c;
  --purple: #a4b8ec;
}
h1 {
  color: var(--white);
  font-size: 213px;
  line-height: 87%;
  letter-spacing: -4.26px;
  text-transform: uppercase;
}
h2 {
  color: var(--white);
  font-size: 128px;
  line-height: 130%;
  text-transform: uppercase;
}
h3 a {
  color: var(--white);
  text-decoration: none;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
}
a {
  color: var(--white);
  text-decoration: none;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
}
a:hover {
  color: var(--grey-dark);
}
a:active {
  color: var(--grey);
}
a.active {
  color: var(--grey-dark); /* активная страница */
}
.header-main {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  margin-left: 24px;
}
.header {
  display: flex;
  align-items: flex-end;
  gap: 48px;
  margin-left: 14px;
}
h3 {
  color: var(--white);
  text-decoration: none;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  width: fit-content;
}
/*404*/
.space-vertical-2 {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 2vh 2.5vw 0 48vw; /*адаптивный отступ */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6vh;
  flex-shrink: 0;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.space-vertical-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
}
/* Большая цифра 404 */
.numeral {
  font-size: 18vw;
  line-height: 78%;
  letter-spacing: -0.4vw;
  text-transform: uppercase;
  color: var(--white);
}
/* Кнопка */
#backBtn {
  text-decoration: none;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  display: flex;
  height: 7vh;
  padding: 0 1.5vw;
  align-items: center;
  gap: 1vw;
  border-radius: 0.15vw;
  color: var(--purple);
  border: 0.1vw solid #a4b8ec;
}
#backBtn:hover {
  border-radius: 0.3vw;
  color: var(--white);
  border: 0.1vw solid #f3f4f9;
}
.back404 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../images/prisma.jpg') center center no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}
.back404.active {
  opacity: 0;
}
