* {
  box-sizing: border-box;
  background-color: #26262c;
}
body {
  width: 1920px;
  display: block;
  margin: 0 auto;
  font-family: 'Montserrat';
  position: relative;
  scroll-behavior: smooth;
}
:root {
  --white: #f3f4f9;
  --grey: #8e8e94;
  --grey-dark: #48494e;
  --dark: #26262c;
}
h1 {
  color: var(--white);
  font-size: 213px;
  line-height: 87%;
  letter-spacing: -4.26px;
  text-transform: uppercase;
}
h2 {
  color: var(--white);
  font-size: 128px;
  line-height: 130%;
  text-transform: uppercase;
}
h3 a {
  color: var(--white);
  text-decoration: none;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
}
a {
  color: var(--white);
  text-decoration: none;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
}
a:hover {
  color: var(--grey-dark);
}
a:active {
  color: var(--grey);
}
a.active {
  color: var(--grey-dark); /* активная страница */
}
.header-main {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  margin-left: 24px;
}
.header {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  margin-left: 14px;
}
